.contacts
    a.contact(href="tel: +38063 304 4222")
        i.fa.fa-mobile.contact__icon(aria-hidden="true")
        span.contact__text +38063 304 4222

    a.contact(href="mailto: office.natalybloom@gmail.com" target="_blank")
        i.fa.fa-envelope.contact__icon.contact__icon--email(aria-hidden="true")
        span.contact__text office.natalybloom@gmail.com

    a.contact(href="https://www.facebook.com/natalybloombrand/" target="_blank")
        i.fa.fa-facebook.facebook-icon(aria-hidden="true")

    a.contact(href="https://instagram.com/nataly_bloom_ua?igshid=veen24yyi34p" target="_blank")
        i.fa.fa-instagram.instagram-icon(aria-hidden="true")

    div.sign_in
        i.sign_in.contact.fa.fa-user-circle.fa-2x(aria-hidden="true")
            if auth
                div.user_profile_menu
                    a.link_user(href="/user_profile") Ваш профиль
                    a.link_user(href="/user_orders") Ваши заказы
                    a.link_user(href="/logout") Выйти

            else
                div.user_authorization
                    button.btn_user.btn_sign_in(value='menu_sign_in') Войти
                    button.btn_user.btn_registration(value='menu_registration') Регистрация
        if itsAdmin
            a.contact(href="/admin") Админ




