include sections/head

div.sidebar_admin
    ul.sidebar_admin_ul

div.grid_sale_items_list
    //include sections/list_sale_items

script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
script(src="https://code.jquery.com/jquery-3.5.1.js")
script(src="main.min.js")